<div class="container my-5">


    <div class="row">

        <div class="col-sm-12 col-lg-6">

            <h3>Contactame!</h3>

            <form action="">
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="nombre">
                    
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="email">
                    
                    <textarea class="form-control" ></textarea>
                    
                    <input type="button" value="Enviar!" class="btn btn-secondary">
                </div>
            </form>
        </div>

        <div class="col">
            <h3>Redes sociales y contacto </h3>
            <div class="social">

                <a href=""><img src="../../../assets/icons/png/001-gmail.png" alt="" class="social-media"></a>
                <a href=""><img src="../../../assets/icons/png/003-whatsapp.png" alt="" class="social-media"></a>
                <a href=""><img src="../../../assets/icons/png/004-linkedin.png" alt="" class="social-media"></a>
                <a href=""><img src="../../../assets/icons/png/005-github-logo.png" alt="" class="social-media"></a>
            </div>




            <div class="small">Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> messages.attribution.is_licensed_by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
        
    </div>
</div>