.small {
    font-size: 0.8em;
    color: #A799B7;
    a {
        font-style: none;
        color: rgb(199, 184, 216);
    }
}


.social {
    text-align: center;
    .social-media {
        padding: 5%;
    }   
}

input, textarea {
    margin: 3%;
}

textarea {
    resize: none;
}

.btn-secondary {
    background-color: rgb(137, 116, 160)
}