<footer class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">

            <p>Pamina Goldenberg Thiery &copy; 2019</p>
            <a href="https://www.linkedin.com/in/pamina-goldenberg-thiery" target="_blank"><img src="../../../assets/icons/png/001-linkedin.png" alt=""></a>
            <a href="mailto:alhanampi@gmail.com" target="_blank"><img src="../../../assets/icons/png/002-close-envelope.png" alt=""></a>
            <a href="https://github.com/alhanampi" target="_blank"><img src="../../../assets/icons/png/003-github-character.png" alt=""></a>
        </div>

        <div class="col-sm-12 col-md-6">
            <p>Este sitio fue diseñado usando html, sass, bootstrap, Angular 8 y fontawesome, y luego deployado a firebase.</p>
            <p>Podés ver el código <a href="https://github.com/alhanampi/sitio-cv" target="_blank">acá.</a></p>
        </div>
    </div>
</footer>