<section class="container-fluid">

    <div class="head my-3">

        <h1>Pamina Goldenberg Thiery</h1>


        <img src="../../../assets/foto.PNG" alt="" class="rounded-circle">

        <div class="row">
            <div class="col personal">
                <h2>Información Personal</h2>
                <ul>
                    <li><i class="fa fa-graduation-cap"></i>Universitario Completo (Diseño de Imagen y Sonido)</li>
                    <li><i class="fa fa-map-marker"></i>San Martín, Buenos Aires</li>
                    <li><i class="fa fa-whatsapp"></i> 15-6795-5422</li>
                    <li><i class="fa fa-envelope"></i> alhanampi@gmail.com</li>
                    <li><i class="fa fa-github"></i>https://github.com/alhanampi</li>
                    <li><i class="fa fa-linkedin"></i> www.linkedin.com/in/pamina-goldenberg-thiery</li>
                    <li><i class="fa fa-comments"></i>
                        <ul>
                            <li>Español: Nativo</li>
                            <li>Inglés: Avanzado (C1)</li>
                            <li>Japonés: Básico</li>
                        </ul>
                        <br>
                        <br>
                    </li>
                    <li><h3>Sobre mí:</h3>
                        <p>Frontend Developer formada en ADA ITW. Soy muy entusiasta y siempre estoy buscando aprender cosas nuevas, con experiencia en programación con Angular, Ionic y Material Design. En este momento estoy buscando llevar mi perfil a fullStack, estudiando PHP y nodeJS.</p>
                    </li>
                </ul>
            </div>
            <div class="col habilidades">
                <h2>Habilidades</h2>
                <ul class="habil">
                    <li><img src="../../../assets/100.png" alt="">Html  </li>
                    <li><img src="../../../assets/100.png" alt="">CSS</li>
                    <li><img src="../../../assets/90.png" alt="">SASS</li>
                    <li><img src="../../../assets/90.png" alt="">GitHub </li>
                    <li><img src="../../../assets/90.png" alt="">Bootstrap</li>
                    <li><img src="../../../assets/90.png" alt="">Wordpress/Divi</li>
                    <li><img src="../../../assets/70.png" alt="">JavaScript</li>
                    <li><img src="../../../assets/50.png" alt="">Material Design</li>
                    <li><img src="../../../assets/50.png" alt="">NodeJS</li>
                    <li><img src="../../../assets/50.png" alt="">PHP</li>
                    <li><img src="../../../assets/50.png" alt="">Angular 8 </li>
                    <li><img src="../../../assets/35.png" alt="">Ionic</li>
                    <li><img src="../../../assets/25.png" alt="">MongoDB</li>
                    <li><img src="../../../assets/25.png" alt="">MySQL</li>
                </ul>
            </div>
        </div>
        <br>
        <hr>
        <h2 class="my-5">Estudios</h2>

        <ul>
            <li>Agosto 2019 - actualidad: <b>Programación Informática</b> - UNSAM</li>
            <li>Junio 2019 a julio 2019: <b> Accademy FED</b> - Educación IT</li>
            <li>Septiembre 2018 a enero 2019: <b>Programación Front End</b> - Ada ITW Bootcamp</li>
            <li>Marzo 2018 a agosto 2018: <b>Professional Webmaster</b> - UTN </li>
            <li>Marzo 2013 a abril 2014: <b>Realización FX Integral</b> - Primera Escuela Argentina de FX</li>
            <li>Marzo 2003 a marzo 2011: <b>Diseño de Imagen y Sonido (graduada) </b> - FADU UBA</li>
        </ul>
        <br>
        <hr>
        <h2 class="my-5">Experiencia Laboral</h2>

        <ul>
            <li>Marzo 2019 a abril 2019	<b> - Frontend developer en Ases Consulting.</b></li>
            <li>Marzo 2018 a presente	<b>- Camarógrafa y editora de video en http://www.hijos.tv.</b></li>
            <li>Mayo 2018 a noviembre 2018	<b> - Técnica de Ingesta y editora en CGTV/ESPN.</b></li>
            <li>Julio 2015 a diciembre 2017	<b> - Editora de video para Panorama Federal en TDA-CIARA.</b></li>
            <li>Julio 2011 a julio 2015	<b> - Técnica de QC para BACUA en TDA-CIARA.</b></li>
            <li>Septiembre 2010 a junio 2011 <b> - Editora de video, camarógrafa y técnica para diversos programas de TV y pilotos.</b></li>
            <li>Enero 2008 a agosto 2008 <b> - Editora de video, técnica y diseñadora en Trek Mesures.</b></li>
        </ul>

    </div>
</section>