/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(230, 221, 236);
}

p {
    color: #9888A5;
}

h1 {
    font-family:  'Merienda', cursive;
    color: #9888A5;
}

li {
    list-style: none;
}