/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(230, 221, 236);
}

p {
    color: #9888A5;
}

h1 {
    font-family: 'Merienda', cursive;
    color: #3E2A35;
}

li {
    list-style: none;
}

.jumbotron {
    box-shadow: 6px 6px 3px -2px rgba(160, 149, 160, 0.425);
    margin-left: auto;
    margin-right: auto
}